body {
  background-color: #f7f7f8;
}
html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}
div, a, p, header, article, section {
  box-sizing: content-box;
}
body, button, input, select, textarea {
  font: 12px/1.5 "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input, button, select, textarea, a {
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}
textarea {
  resize: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
img {
  border: 0;
  display: block;
}
ol, ul {
  list-style: none;
}
i, em {
  font-style: normal;
  font-weight: normal;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
a {
  text-decoration: none;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.clearfix {
  zoom: 1;
}
